.Weather {
  border: 1px solid;
  border-radius: 8px;
  padding: 16px;
}

.Weather form input:focus {
  border-color: black;
  box-shadow: none;
  outline: 0 none;
}

.Weather h1 {
  display: block;
  font-size: 48px;
  font-weight: 800;
  height: 26px;
  line-height: 30px;
  margin: 50px 0 12px 0;
  padding-left: 20px;
}

.Weather ul {
  padding-left: 20px;
}

.Weather li {
  list-style: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.Weather .conditions ul {
  padding-right: 30px;
}

.Weather .conditions li {
  font-size: 18px;
  line-height: 24px;
  text-align: end;
}

.Weather .current-weather {
  padding-bottom: 30px;
  margin: 20px 0 0 -30px;
}

.Weather canvas {
  margin: 0 20px -10px 20px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 120px;
  line-height: 64px;
  margin-left: -10px;
}

.Weather .unit {
  font-size: 26px;
  font-weight: 400;
  position: relative;
  top: -56px;
  line-height: 1;
}

.Weather h3 {
  padding: 10px 10px 0;
}
